.cloud2{
    position: absolute;
    left: 300px;
}
.cloud1{
    position: absolute;
    right: 300px;
}
h2{
    font-size: 2.56rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
    /* font-size: 40px; */

}
/* img{
    display: inline;
}
.mountain1{
    display: block;
} */
body{
    /* margin: 30px; */
    /* padding: 100px; */
    text-align: center;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* font-family: cursive, sans-serif; */
    font-family: 'Merriweather', serif;
    color: #40514E;
    /* margin: 0px; */
    /* padding: 0px; */
    /* margin: 0px; */
    /* margin: 10px; */
}
h1{
    /* margin: 50px; */
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}
.top-container{
    background-color: powderblue;
    /* width: 200;
    height: 200; */
    padding: 100px;
    /* border-width: 20px; */
    /* margin-left: 204; */
    margin-bottom: 10px;
    position: relative;

}
.container{
    /* background-color: grey;
    height: 400px;
    width: 400px;
    position: fixed; */
}
.middle-container{
    padding: 100px 0px;
    /* background-color: red;
    width: 200px;
    height: 200px; */
    /* position: absolute; */
    /* left: 0px; */
    /* top: 0px; */
    /* top: 800px; */
    /* left: 200px; */
    /* display: inline-block; */
    /* padding: 0px; */
    /* border-width: 10px; */
    /* margin-left: 445; */
    /* margin: 0px; */
}
.bottom-container{
    background-color: rgb(83, 204, 231);
    padding: 50px 0 20px;
    margin: 0px;
    /* width: 200;
    height: 200; */
    /* position: absolute; */
    /* top: 600px; */
    /* display: inline-block; */
    /* position: relative;
    left: 200px;
    bottom: 200px; */
    /* top: 100px; */
    /* ; */
    /* padding: 0px; */
    /* border-width: 10px; */
    /* margin-left: 445; */
    /* margin: 0px; */
}
p {
    line-height: 2;
}
hr {
    /* margin-top: 30px; */
    border: dotted #a6b3b3 6px;
    /* border-color: #EAF6F6; */
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
/* div { */
    /* background-color: powderblue;
    width: 200px;
    height: 200px;
    padding: 0px;
    border: solid;
    border-width: 1px;
    margin: 0px; */
    /* margin-left: 0px; */
    /* padding: 10px; */
    /* margin: 10px; */
/* } */
.P{
    text-decoration: underline;
}
.C{
    text-decoration: underline;
}
.skill-row{
    width: 50%;
    /* width="25%;" */
    margin: 100px auto 100px auto;
    display: inline-block;
    text-align: left;
    /* line-height: 2;  */
}
.algorithms{
    width: 25%;
    margin-right: 30px;
    float: left;
}
.interests{

    width: 25%;
    margin-left: 30px;
    float: right;
}
.intro{
    width: 30%;
    margin: auto;
    /*ask what is this margin auto doing*/
    
    /*display: inline-block; why can'i i use this instead of margin auto*/
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}
a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}
a:hover{
    color: #EAF6F6;
}
/* .p-algorithms{
    clear: left;
}
.p-interests{
    clear: right;
} */
/* .p-Skills{
    clear: left;
} */
/* .p-soft-skills{
    clear: left;
} */
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.copyright{
     color: #EAF6F6;
     font-size: 0.75rem;
     padding: 20px 0px;
}
.bodyMain{
    margin: 0px;
}